In [1]:
import pandas as pd
df = pd.read_csv("policy/avg_policy.csv")
columns = df.columns
print('Length of df:', len(df))
print('Num unique keys:', len(df['KEY'].unique()))
df.head()

Length of df: 241480
Num unique keys: 241480

,KEY,PHASE,ROLE,HAND,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
0,816050090080,PREFLOP,SB,T7o,0,6,3,6,0,120,0.427451,0.000000,0.380392,0.192157,0.000000
1,9612682068053,FLOP,SB,T7o,2,8,0,5,5,13,0.000000,0.341176,0.000000,0.329412,0.329412
2,18408776138841,TURN,SB,T7o,2,9,0,5,9,10,0.000000,0.333333,0.000000,0.333333,0.333333
3,2396610641920,PREFLOP,BB,K4s,0,18,4,0,0,120,0.592157,0.000000,0.000000,0.000000,0.407843
4,5789619077216,PREFLOP,BTN,82o,0,3,4,6,0,120,0.552941,0.000000,0.380392,0.066667,0.000000

In [2]:
df.describe().round(2)

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,2.414800e+05,241480.00,241480.00,241480.00,241480.00,241480.00,241480.00,241480.00,241480.00,241480.00,241480.00,241480.00
mean,1.087991e+13,4.28,10.95,1.71,3.81,6.38,12.60,0.47,0.09,0.13,0.18,0.13
std,8.313767e+12,2.09,4.49,1.37,2.05,2.31,13.23,0.37,0.15,0.19,0.16,0.16
min,3.158112e+06,0.00,3.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
25%,3.566174e+12,3.00,8.00,0.00,3.00,4.00,10.00,0.00,0.00,0.00,0.00,0.00
50%,9.939113e+12,5.00,10.00,2.00,4.00,7.00,10.00,0.42,0.00,0.00,0.17,0.01
75%,1.454411e+13,5.00,12.00,3.00,5.00,9.00,12.00,0.80,0.33,0.33,0.33,0.33
max,3.223080e+13,14.00,21.00,4.00,6.00,9.00,120.00,1.00,1.00,1.00,1.00,0.50

In [3]:
for column in columns:
    if column == "KEY":
        continue
    print(df[column].value_counts())
    print("-" * 100)

PHASE
PREFLOP    98108
FLOP       84388
TURN       40513
RIVER      18471
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
SB     86248
BB     81040
BTN    74192
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
K8o    2101
K3o    2085
K5o    2072
KQo    2071
K9o    2061
       ...
83s    1005
52s     991
JJ      979
32s     962
AA      683
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
5     117477
2      37331
4      34905
3      14207
1      10268
8       8064
0       7529
11      4553
7       2445
10      1658
14      1045
6        867
9        851
13       217
12        63
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
9     34953
10    33289
18    29208
12    28013
8     25733
7     19173
6     18306
11    18120
21    16717
4      6392
5      5168
13     4367
14     1154
19      352
3       338
15      195
16        2
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
0    67741
2    59511
3    44658
1    39841
4    29729
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
4    66190
5    60686
6    49377
0    46277
3    18385
2      562
1        3
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
9    64714
4    60540
5    43926
8    40780
7    24075
0     7294
6      151
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
VISITS
10     95399
11     40245
1      24985
12     20896
13     12256
       ...
105       10
116       10
115        9
100        6
114        2
Name: count, Length: 120, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.000000    72138
0.415686    44850
1.000000    20815
0.333333    15728
0.749020    11928
            ...
0.364706       26
0.470588       26
0.360784       24
0.345098       22
0.352941       18
Name: count, Length: 172, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.000000    174197
0.333333     53382
0.341176      3122
0.337255      2853
0.349020      1411
             ...
0.854902         1
0.800000         1
0.894118         1
0.803922         1
0.905882         1
Name: count, Length: 149, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    152732
0.415686     42063
0.333333     16922
0.411765      2684
0.003922      2176
             ...
0.674510         1
0.600000         1
0.666667         1
0.584314         1
0.654902         1
Name: count, Length: 250, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.000000    76040
0.333333    71758
0.168627    39316
0.003922     5665
0.329412     3537
            ...
0.423529       24
0.454902       23
0.462745       20
0.486275       20
0.482353       18
Name: count, Length: 129, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    115915
0.333333     56731
0.250980     10891
0.168627      5472
0.329412      4714
             ...
0.419608        15
0.435294        14
0.388235        12
0.411765        12
0.450980        11
Name: count, Length: 129, dtype: int64
----------------------------------------------------------------------------------------------------

In [4]:
df_preflop = df[df['PHASE'] == 'PREFLOP']
df_preflop_sb = df_preflop[df_preflop['ROLE'] == 'SB']
df_preflop_sb.describe()

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,3.581000e+04,35810.000000,35810.000000,35810.000000,35810.000000,35810.000000,35810.000000,35810.000000,35810.0,35810.000000,35810.000000,35810.000000
mean,7.536681e+11,4.257638,11.759509,2.474672,3.467998,5.741022,14.250182,0.774141,0.0,0.087577,0.106799,0.031482
std,4.099612e+11,2.960448,4.917621,0.953900,2.236847,2.509455,17.828839,0.257781,0.0,0.164747,0.185118,0.096734
min,3.158112e+06,0.000000,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,4.050817e+11,2.000000,8.000000,2.000000,0.000000,4.000000,10.000000,0.600000,0.0,0.000000,0.000000,0.000000
50%,7.744568e+11,4.000000,10.000000,2.000000,4.000000,5.000000,11.000000,0.870588,0.0,0.000000,0.003922,0.000000
75%,1.110000e+12,5.000000,18.000000,3.000000,5.000000,8.000000,13.000000,0.992157,0.0,0.105882,0.168627,0.007843
max,1.446878e+12,14.000000,21.000000,4.000000,6.000000,9.000000,120.000000,1.000000,0.0,1.000000,1.000000,0.501961