In [1]:
import pandas as pd
df = pd.read_csv("policy/avg_policy.csv")
columns = df.columns
print('Length of df:', len(df))
print('Num unique keys:', len(df['KEY'].unique()))
df.head()

Length of df: 610785
Num unique keys: 610785

,KEY,PHASE,ROLE,HAND,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
0,816050090080,PREFLOP,SB,T7o,0,6,3,6,0,120,0.474510,0.000000,0.380392,0.145098,0.000000
1,9612682068053,FLOP,SB,T7o,2,8,0,5,5,48,0.000000,0.345098,0.000000,0.341176,0.313725
2,18408776138841,TURN,SB,T7o,2,9,0,5,9,20,0.000000,0.333333,0.000000,0.333333,0.333333
3,2396610641920,PREFLOP,BB,K4s,0,18,4,0,0,120,0.639216,0.000000,0.000000,0.000000,0.360784
4,5789619077216,PREFLOP,BTN,82o,0,3,4,6,0,120,0.917647,0.000000,0.050980,0.031373,0.000000

In [2]:
df.describe().round(2)

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,6.107850e+05,610785.00,610785.00,610785.00,610785.00,610785.00,610785.00,610785.00,610785.00,610785.00,610785.00,610785.00
mean,1.243504e+13,4.88,10.58,1.48,3.99,5.58,16.65,0.33,0.14,0.15,0.22,0.17
std,7.817051e+12,3.15,4.24,1.37,1.92,2.66,28.11,0.30,0.20,0.18,0.15,0.17
min,3.158112e+06,0.00,3.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
25%,5.712851e+12,2.00,8.00,0.00,4.00,4.00,1.00,0.00,0.00,0.00,0.00,0.00
50%,1.180285e+13,5.00,10.00,1.00,4.00,5.00,4.00,0.33,0.00,0.00,0.33,0.14
75%,1.777312e+13,6.00,12.00,3.00,5.00,8.00,17.00,0.50,0.33,0.33,0.33,0.33
max,3.223080e+13,14.00,21.00,4.00,6.00,9.00,120.00,1.00,1.00,0.99,1.00,0.50

In [3]:
for column in columns:
    if column == "KEY":
        continue
    print(df[column].value_counts())
    print("-" * 100)

PHASE
FLOP       296604
PREFLOP    157509
TURN       106480
RIVER       50192
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
BB     209869
SB     203868
BTN    197048
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
K8o    4779
K2o    4681
K3o    4678
K7o    4677
K5o    4658
       ...
44     2580
JJ     2503
33     2492
22     2444
AA     2175
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
5     172603
2      95223
4      77838
3      43422
8      41473
1      38252
0      26541
11     24306
7      22262
6      17235
14     14134
10     13046
9      12867
13      6420
12      5163
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
9     85244
10    82506
12    80412
8     63522
18    57269
7     52894
6     49055
11    48133
21    33473
4     18398
5     17251
13    13575
14     5746
19     1796
15     1162
3       338
16       11
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
0    217484
2    131504
1    103127
3     99437
4     59233
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
4    172050
5    148766
6    137936
0     92538
3     56384
2      3093
1        18
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
4    182732
9    121352
5    111889
8     79098
0     59200
7     54362
6      2152
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
VISITS
1      173363
2       71580
3       40584
4       25700
120     24529
        ...
110       211
116       211
117       201
118       195
119       183
Name: count, Length: 120, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.000000    222304
0.333333    151548
0.415686     37368
0.501961     29567
1.000000      6451
             ...
0.462745       392
0.454902       388
0.627451       383
0.470588       383
0.603922       364
Name: count, Length: 172, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.000000    395725
0.333333    127252
0.337255     10797
0.341176     10220
0.345098      4754
             ...
0.949020        11
0.972549         9
0.980392         5
0.988235         2
0.996078         1
Name: count, Length: 172, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    329572
0.333333    157258
0.415686     30146
0.411765      8392
0.407843      3659
             ...
0.949020         5
0.980392         4
0.988235         3
0.972549         3
0.976471         2
Name: count, Length: 254, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.333333    278979
0.000000    151332
0.168627     30645
0.329412     15631
0.325490      6725
             ...
0.498039       171
0.482353       147
0.486275       136
0.490196       102
0.494118        92
Name: count, Length: 129, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    237701
0.333333    144763
0.498039     28821
0.329412     15994
0.325490      9811
             ...
0.431373       166
0.384314       165
0.403922       164
0.380392       162
0.396078       153
Name: count, Length: 129, dtype: int64
----------------------------------------------------------------------------------------------------

In [4]:
df_preflop = df[df['PHASE'] == 'PREFLOP']
df_preflop_sb = df_preflop[df_preflop['ROLE'] == 'SB']
df_preflop_sb.describe()

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,5.769200e+04,57692.000000,57692.000000,57692.000000,57692.000000,57692.000000,57692.000000,57692.000000,57692.0,57692.000000,57692.000000,57692.000000
mean,7.435755e+11,4.952194,11.590619,2.396415,3.575019,5.893521,25.060268,0.609876,0.0,0.183220,0.117012,0.089892
std,4.133594e+11,3.447198,4.730972,0.946379,2.144930,2.561730,35.069842,0.262557,0.0,0.169661,0.155583,0.158306
min,3.158112e+06,0.000000,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,3.879081e+11,2.000000,8.000000,2.000000,3.000000,4.000000,2.000000,0.333333,0.0,0.000000,0.000000,0.000000
50%,7.567306e+11,5.000000,10.000000,2.000000,4.000000,5.000000,11.000000,0.549020,0.0,0.172549,0.007843,0.000000
75%,1.100876e+12,8.000000,12.000000,3.000000,5.000000,8.000000,28.000000,0.878431,0.0,0.333333,0.333333,0.090196
max,1.446889e+12,14.000000,21.000000,4.000000,6.000000,9.000000,120.000000,1.000000,0.0,0.992157,1.000000,0.498039

In [5]:
visits_counts = df['VISITS'].value_counts()
visits_counts.loc[[120, 10, 11, 12]]

VISITS
120    24529
10     17571
11     15513
12     13515
Name: count, dtype: int64