In [1]:
import pandas as pd
df = pd.read_csv("policy/avg_policy.csv")
columns = df.columns
print('Length of df:', len(df))
df.head()

Length of df: 48113

,PHASE,ROLE,HAND,BOARD,POT,RATIO,SPR,HEROBOARD,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
0,PREFLOP,SB,K5o,0,5,2,6,0,0.000000,0.498039,0.000000,0.000000,0.501961
1,PREFLOP,SB,K5o,0,18,4,0,0,0.000000,0.333333,0.333333,0.333333,0.000000
2,PREFLOP,BB,T7o,0,4,0,6,0,0.498039,0.000000,0.501961,0.000000,0.000000
3,PREFLOP,BTN,K7o,0,3,4,6,0,0.000000,0.498039,0.000000,0.501961,0.000000
4,PREFLOP,SB,QJo,0,5,2,6,0,0.000000,0.498039,0.501961,0.000000,0.000000

In [2]:
df.describe()

,BOARD,POT,RATIO,SPR,HEROBOARD,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,48113.000000,48113.000000,48113.000000,48113.000000,48113.000000,48113.000000,48113.000000,48113.000000,48113.000000,48113.000000
mean,4.578534,10.300917,1.556897,3.994305,3.264045,0.440195,0.446911,0.020379,0.078973,0.013542
std,3.796810,4.796064,1.587020,2.264427,2.225855,0.488598,0.435050,0.092897,0.175063,0.081328
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,7.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,9.000000,1.000000,5.000000,4.000000,0.000000,0.498039,0.000000,0.000000,0.000000
75%,8.000000,12.000000,3.000000,6.000000,4.000000,1.000000,0.949020,0.000000,0.050980,0.000000
max,14.000000,21.000000,4.000000,6.000000,9.000000,1.000000,1.000000,0.501961,1.000000,0.501961

In [3]:
for column in columns:
    print(df[column].value_counts())
    print("-" * 100)

PHASE
FLOP       31073
TURN        8534
PREFLOP     6117
RIVER       2389
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
BB     18656
SB     17807
BTN    11650
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
42o    549
K3o    533
63o    524
T2o    521
T3o    507
      ...
AQo     84
TT      83
AQs     78
AJs     67
AKs     66
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
2     9042
0     8784
8     7601
5     3569
7     3452
1     3341
6     2877
3     1979
4     1590
11    1579
9     1253
14    1235
10     858
13     534
12     419
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
18    9049
9     7648
7     5946
8     4919
10    4668
6     4141
4     2944
11    2237
5     2203
12    2127
21    1591
3      338
13     245
14      41
19      12
15       4
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
0    20961
4     9230
2     8063
3     6001
1     3858
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
6    15572
5    12567
0    10652
4     7964
3     1339
2       19
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
4    23707
0    13595
5     7030
7     2916
9      465
6      366
8       34
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.000000    26190
1.000000    20441
0.498039     1482
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.000000    21574
1.000000    11372
0.498039     3943
0.333333     1014
0.501961      975
0.898039      933
0.929412      777
0.850980      726
0.800000      688
0.831373      611
0.549020      553
0.870588      547
0.949020      531
0.600000      410
0.980392      404
0.580392      284
0.619608      266
0.701961      264
0.749020      252
0.678431      226
0.650980      198
0.768627      196
0.968627      184
0.529412      175
0.878431      172
0.921569      167
0.780392      136
0.521569      128
0.670588       83
0.729412       78
0.901961       70
0.568627       64
0.721569       59
0.698039       53
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    45819
0.501961     1280
0.333333     1014
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.000000    35366
0.501961     1872
0.333333     1014
0.101961      933
0.070588      777
0.149020      726
0.200000      688
1.000000      626
0.168627      611
0.450980      553
0.129412      547
0.050980      531
0.400000      410
0.019608      404
0.419608      284
0.380392      266
0.298039      264
0.250980      252
0.321569      226
0.349020      198
0.231373      196
0.031373      184
0.470588      175
0.121569      172
0.078431      167
0.219608      136
0.478431      128
0.329412       83
0.270588       78
0.098039       70
0.431373       64
0.278431       59
0.301961       53
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    46815
0.501961     1298
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------

In [4]:
df_preflop = df[df['PHASE'] == 'PREFLOP']
df_preflop_sb = df_preflop[df_preflop['ROLE'] == 'SB']
df_preflop_sb.describe()

,BOARD,POT,RATIO,SPR,HEROBOARD,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,2045.0,2045.000000,2045.000000,2045.000000,2045.0,2045.000000,2045.000000,2045.000000,2045.000000,2045.000000
mean,0.0,9.988753,2.373594,4.164303,0.0,0.074280,0.471401,0.127013,0.190586,0.136720
std,0.0,4.915466,0.856246,2.025860,0.0,0.177460,0.061468,0.195836,0.223781,0.223518
min,0.0,3.000000,1.000000,0.000000,0.0,0.000000,0.333333,0.000000,0.000000,0.000000
25%,0.0,7.000000,2.000000,4.000000,0.0,0.000000,0.498039,0.000000,0.000000,0.000000
50%,0.0,9.000000,2.000000,5.000000,0.0,0.000000,0.498039,0.000000,0.000000,0.000000
75%,0.0,11.000000,3.000000,6.000000,0.0,0.000000,0.498039,0.333333,0.501961,0.501961
max,0.0,21.000000,4.000000,6.000000,0.0,0.498039,0.501961,0.501961,0.501961,0.501961