In [20]:
import pandas as pd
df = pd.read_csv("policy/avg_policy.csv")
columns = df.columns
print('Length of df:', len(df))
print('Num unique keys:', len(df['KEY'].unique()))
df.head()

Length of df: 560438
Num unique keys: 560438

,KEY,PHASE,ROLE,HAND,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
0,1245543673952,PREFLOP,SB,Q3o,0,3,3,6,0,120,0.800000,0.0,0.129412,0.000000,0.070588
1,2534041202752,PREFLOP,BB,AJo,0,10,3,4,0,120,0.345098,0.0,0.337255,0.000000,0.317647
2,2534049595392,PREFLOP,BB,AJo,0,18,4,0,0,120,0.698039,0.0,0.000000,0.000000,0.301961
3,5102424309856,PREFLOP,BTN,T8o,0,3,4,6,0,120,0.831373,0.0,0.098039,0.000000,0.070588
4,1047977271392,PREFLOP,SB,95o,0,5,2,6,0,120,0.882353,0.0,0.058824,0.058824,0.000000

In [21]:
df.describe().round(2)

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,5.604380e+05,560438.00,560438.00,560438.00,560438.00,560438.00,560438.00,560438.00,560438.00,560438.00,560438.00,560438.00
mean,1.626747e+13,5.47,12.76,1.64,2.82,3.92,9.58,0.24,0.15,0.14,0.26,0.21
std,6.675987e+12,3.95,4.17,1.60,1.90,2.34,21.41,0.22,0.19,0.16,0.13,0.18
min,3.158112e+06,0.00,3.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
25%,1.132503e+13,2.00,10.00,0.00,1.00,4.00,1.00,0.00,0.00,0.00,0.28,0.00
50%,1.388295e+13,5.00,13.00,2.00,3.00,4.00,2.00,0.33,0.00,0.00,0.33,0.29
75%,2.074846e+13,8.00,15.00,3.00,4.00,5.00,7.00,0.35,0.33,0.33,0.33,0.33
max,3.223213e+13,14.00,21.00,4.00,6.00,9.00,120.00,1.00,1.00,0.99,0.50,0.50

In [22]:
for column in columns:
    if column == "KEY":
        continue
    print(df[column].value_counts())
    print("-" * 100)

PHASE
FLOP       311430
TURN       166231
RIVER       72152
PREFLOP     10625
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
BB     214763
SB     192096
BTN    153579
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
A8o    5107
KQo    5065
A7o    5036
A9o    5027
A4o    4928
       ...
43s    2195
42s    2179
44     2059
33     1974
22     1881
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
2     87981
5     63031
8     62378
0     46545
1     45862
3     36017
4     35869
7     34424
11    30809
6     29460
14    25148
9     20947
10    18313
13    12749
12    10905
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
12    83837
14    63316
15    63007
18    46434
10    44660
13    40930
11    30592
19    30075
8     27754
16    26083
4     23831
5     21036
6     18172
21    16138
9     14331
17     8208
20     1696
3       338
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
0    233005
4    111959
3     85970
2     84516
1     44988
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
4    113541
3    103619
0     99054
2     86502
6     63377
1     52260
5     42085
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
4    244151
5    115958
0    115366
7     54497
9     22988
6      5081
8      2397
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
VISITS
1      216537
2       84989
3       47690
4       31033
5       22134
        ...
113       100
119        99
116        99
118        99
111        98
Name: count, Length: 120, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.000000    236678
0.333333    166068
0.501961     50565
0.341176      7249
0.337255      6095
             ...
0.980392        81
0.996078        78
0.972549        77
0.964706        77
0.988235        76
Name: count, Length: 172, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.000000    327678
0.333333    140607
0.341176      5279
0.349020      4293
0.356863      3992
             ...
0.909804         6
0.964706         4
0.988235         4
0.980392         3
0.956863         2
Name: count, Length: 171, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    327776
0.333333    176323
0.329412      7825
0.337255      5672
0.325490      4252
             ...
0.992157         1
0.827451         1
0.705882         1
0.925490         1
0.929412         1
Name: count, Length: 238, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.333333    306389
0.000000    109970
0.329412     15525
0.325490     11484
0.321569      9130
             ...
0.474510        96
0.482353        91
0.490196        68
0.494118        67
0.498039        53
Name: count, Length: 128, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    208934
0.333333    149313
0.498039     50341
0.329412      6097
0.501961      5429
             ...
0.352941       182
0.360784       175
0.345098       173
0.341176       164
0.337255       161
Name: count, Length: 129, dtype: int64
----------------------------------------------------------------------------------------------------

In [23]:
df_preflop = df[df['PHASE'] == 'PREFLOP']
df_preflop_sb = df_preflop[df_preflop['ROLE'] == 'SB']
df_preflop_sb.describe()

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,3.544000e+03,3544.0,3544.000000,3544.000000,3544.000000,3544.0,3544.000000,3544.000000,3544.0,3544.000000,3544.000000,3544.000000
mean,7.215877e+11,0.0,13.137980,2.667889,2.621896,0.0,82.853837,0.449101,0.0,0.239561,0.142050,0.169288
std,4.192588e+11,0.0,4.412077,0.991654,1.939047,0.0,43.957438,0.205562,0.0,0.164764,0.145378,0.166838
min,3.158112e+06,0.0,3.000000,1.000000,0.000000,0.0,1.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,3.607885e+11,0.0,11.000000,2.000000,1.000000,0.0,42.000000,0.345098,0.0,0.043137,0.000000,0.000000
50%,7.215692e+11,0.0,14.000000,3.000000,2.000000,0.0,113.000000,0.400000,0.0,0.321569,0.098039,0.149020
75%,1.082348e+12,0.0,15.000000,3.000000,4.000000,0.0,120.000000,0.568627,0.0,0.337255,0.301961,0.321569
max,1.443131e+12,0.0,21.000000,4.000000,6.000000,0.0,120.000000,1.000000,0.0,0.905882,0.443137,0.501961

In [24]:
for column in columns:
    if column == "KEY":
        continue
    print(df_preflop_sb[column].value_counts())
    print("-" * 100)

PHASE
PREFLOP    3544
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
SB    3544
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
Q3o    21
75s    21
T4s    21
82s    21
86s    21
       ..
K5s    21
42s    20
83s    20
Q9s    20
94s    19
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
0    3544
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
15    673
12    507
14    338
19    336
3     169
5     169
18    169
8     169
21    169
13    169
11    169
9     169
10    169
16    169
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
3    1181
2    1014
4     845
1     504
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
4    676
2    676
0    674
1    504
6    338
5    338
3    338
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
0    3544
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
VISITS
120    1715
5        50
4        49
7        48
3        45
       ...
68        6
112       5
87        5
119       5
94        4
Name: count, Length: 120, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.000000    284
0.341176    202
0.333333    201
0.337255    176
0.345098    140
           ...
0.933333      1
0.952941      1
0.968627      1
1.000000      1
0.972549      1
Name: count, Length: 160, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.0    3544
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    878
0.333333    508
0.329412    213
0.337255    191
0.325490    113
           ...
0.643137      1
0.564706      1
0.847059      1
0.709804      1
0.600000      1
Name: count, Length: 184, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.000000    1623
0.325490     112
0.317647     108
0.329412     108
0.321569     108
            ...
0.423529       2
0.407843       2
0.443137       2
0.435294       1
0.400000       1
Name: count, Length: 104, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    1435
0.333333     174
0.329412     123
0.498039     109
0.325490      72
            ...
0.047059       2
0.356863       2
0.027451       2
0.023529       1
0.501961       1
Name: count, Length: 124, dtype: int64
----------------------------------------------------------------------------------------------------

In [25]:
visits_counts = df['VISITS'].value_counts()
visits_counts.loc[[120, 1]]

VISITS
120     11396
1      216537
Name: count, dtype: int64