In [17]:
import pandas as pd
df = pd.read_csv("policy/avg_policy.csv")
columns = df.columns
print('Length of df:', len(df))
print('Num unique keys:', len(df['KEY'].unique()))
df.head()

Length of df: 352704
Num unique keys: 352704

,KEY,PHASE,ROLE,HAND,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
0,816050090080,PREFLOP,SB,T7o,0,6,3,6,0,120,0.701961,0.000000,0.164706,0.133333,0.000000
1,9612682068053,FLOP,SB,T7o,2,8,0,5,5,25,0.000000,0.349020,0.000000,0.329412,0.321569
2,18408776138841,TURN,SB,T7o,2,9,0,5,9,10,0.000000,0.333333,0.000000,0.333333,0.333333
3,2396610641920,PREFLOP,BB,K4s,0,18,4,0,0,120,0.552941,0.000000,0.000000,0.000000,0.447059
4,5789619077216,PREFLOP,BTN,82o,0,3,4,6,0,120,0.905882,0.000000,0.058824,0.035294,0.000000

In [18]:
df.describe().round(2)

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,3.527040e+05,352704.00,352704.00,352704.00,352704.00,352704.00,352704.00,352704.00,352704.00,352704.00,352704.00,352704.00
mean,1.125791e+13,4.39,10.94,1.67,3.83,6.44,19.60,0.40,0.09,0.16,0.19,0.16
std,8.632493e+12,2.34,4.39,1.34,1.99,2.31,28.07,0.32,0.16,0.18,0.16,0.17
min,3.158112e+06,0.00,3.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
25%,3.565638e+12,3.00,8.00,0.00,3.00,4.00,2.00,0.00,0.00,0.00,0.00,0.00
50%,1.006876e+13,5.00,10.00,2.00,4.00,7.00,11.00,0.35,0.00,0.00,0.18,0.04
75%,1.800558e+13,5.00,12.00,3.00,5.00,9.00,21.00,0.64,0.33,0.33,0.33,0.33
max,3.223080e+13,14.00,21.00,4.00,6.00,9.00,120.00,1.00,1.00,0.99,1.00,0.50

In [19]:
for column in columns:
    if column == "KEY":
        continue
    print(df[column].value_counts())
    print("-" * 100)

PHASE
PREFLOP    141260
FLOP       117116
TURN        62439
RIVER       31889
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
SB     125041
BB     118601
BTN    109062
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
K9o    2928
KQo    2904
K8o    2894
K5o    2866
K7o    2857
       ...
52s    1557
22     1538
32s    1519
JJ     1465
AA      987
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
5     149978
4      56160
2      54269
3      25008
1      15954
8      13513
0      10608
11      9358
7       5515
10      4045
14      2669
9       2423
6       2346
13       671
12       187
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
9     49405
10    49103
12    46949
18    37187
8     36741
7     27187
11    27111
6     26244
21    24085
4      8697
13     7620
5      7210
14     3198
19     1013
15      609
3       338
16        7
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
0    97171
2    87869
3    65400
1    63896
4    38368
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
4    101738
5     86146
6     69676
0     62285
3     31164
2      1685
1        10
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
9    95688
4    85344
8    64862
5    62059
7    33774
0    10660
6      317
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
VISITS
1      77714
2      27552
10     25164
11     19439
12     15991
       ...
118      138
115      137
117      136
119      134
110      131
Name: count, Length: 120, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.000000    99751
0.333333    73761
0.415686    38701
0.501961    16870
1.000000     8282
            ...
0.458824      118
0.462745      116
0.466667      116
0.450980      104
0.454902       94
Name: count, Length: 172, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.000000    256849
0.333333     63811
0.337255      7018
0.341176      6900
0.345098      3470
             ...
0.674510         1
0.917647         1
0.807843         1
0.909804         1
0.925490         1
Name: count, Length: 165, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    178189
0.333333     76047
0.415686     32611
0.411765      7196
0.407843      2878
             ...
0.533333         2
0.627451         2
0.650980         2
0.501961         2
0.549020         1
Name: count, Length: 254, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.333333    137315
0.000000    107930
0.168627     31277
0.329412      9056
0.003922      5825
             ...
0.462745        40
0.494118        35
0.482353        31
0.486275        29
0.490196        15
Name: count, Length: 129, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    153296
0.333333     75545
0.498039     16280
0.329412     10387
0.325490      6626
             ...
0.388235        59
0.380392        55
0.423529        54
0.396078        51
0.392157        51
Name: count, Length: 129, dtype: int64
----------------------------------------------------------------------------------------------------

In [20]:
df_preflop = df[df['PHASE'] == 'PREFLOP']
df_preflop_sb = df_preflop[df_preflop['ROLE'] == 'SB']
df_preflop_sb.describe()

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,5.162800e+04,51628.000000,51628.000000,51628.000000,51628.000000,51628.000000,51628.000000,51628.000000,51628.0,51628.000000,51628.000000,51628.000000
mean,7.469583e+11,4.759433,11.637445,2.415898,3.547145,5.867766,22.206961,0.643775,0.0,0.168762,0.108332,0.079131
std,4.128120e+11,3.333708,4.778572,0.948331,2.168669,2.550773,31.227742,0.267569,0.0,0.172587,0.155597,0.150166
min,3.158112e+06,0.000000,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,3.956959e+11,2.000000,8.000000,2.000000,3.000000,4.000000,2.000000,0.333333,0.0,0.000000,0.000000,0.000000
50%,7.647884e+11,4.000000,10.000000,2.000000,4.000000,5.000000,12.000000,0.647059,0.0,0.117647,0.003922,0.000000
75%,1.108646e+12,7.000000,12.000000,3.000000,5.000000,8.000000,23.000000,0.913725,0.0,0.333333,0.325490,0.062745
max,1.446886e+12,14.000000,21.000000,4.000000,6.000000,9.000000,120.000000,1.000000,0.0,0.992157,1.000000,0.501961

In [23]:
visits_counts = df['VISITS'].value_counts()
visits_counts.loc[[120, 10]]

VISITS
120    14714
10     25164
Name: count, dtype: int64