In [8]:
import pandas as pd
df = pd.read_csv("policy/avg_policy.csv")
columns = df.columns
print('Length of df:', len(df))
print('Num unique keys:', len(df['KEY'].unique()))
df.head()

Length of df: 933999
Num unique keys: 933999

,KEY,PHASE,ROLE,HAND,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
0,1245543673952,PREFLOP,SB,Q3o,0,3,3,6,0,120,0.525490,0.0,0.380392,0.094118,0.000000
1,2534041202752,PREFLOP,BB,AJo,0,10,3,4,0,120,0.349020,0.0,0.337255,0.000000,0.313725
2,2534049595392,PREFLOP,BB,AJo,0,18,4,0,0,120,0.694118,0.0,0.000000,0.000000,0.305882
3,5102424309856,PREFLOP,BTN,T8o,0,3,4,6,0,120,0.850980,0.0,0.082353,0.066667,0.000000
4,1047977271392,PREFLOP,SB,95o,0,5,2,6,0,120,0.886275,0.0,0.062745,0.000000,0.050980

In [9]:
df.describe().round(2)

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,9.339990e+05,933999.00,933999.00,933999.00,933999.00,933999.00,933999.00,933999.00,933999.00,933999.00,933999.00,933999.00
mean,1.686728e+13,5.68,13.40,1.58,2.52,4.01,13.13,0.24,0.14,0.15,0.26,0.21
std,6.734732e+12,4.04,3.98,1.54,1.85,2.42,25.68,0.22,0.19,0.17,0.13,0.19
min,3.158112e+06,0.00,3.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
25%,1.152851e+13,2.00,11.00,0.00,1.00,4.00,1.00,0.00,0.00,0.00,0.30,0.00
50%,1.431944e+13,5.00,14.00,1.00,2.00,4.00,3.00,0.33,0.00,0.00,0.33,0.29
75%,2.108964e+13,8.00,16.00,3.00,4.00,5.00,10.00,0.34,0.33,0.33,0.33,0.33
max,3.223241e+13,14.00,22.00,4.00,6.00,9.00,120.00,1.00,1.00,0.99,0.50,0.50

In [10]:
for column in columns:
    if column == "KEY":
        continue
    print(df[column].value_counts())
    print("-" * 100)

PHASE
FLOP       494568
TURN       295110
RIVER      133679
PREFLOP     10642
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
BB     332682
SB     316237
BTN    285080
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
A9o    7130
A8o    7045
J9o    6974
K8o    6972
A7o    6958
       ...
66     3427
55     3235
44     3008
33     2857
22     2801
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
2     130768
5     103963
8      95079
1      76404
0      72114
4      64500
3      64099
11     56639
7      55714
6      47927
14     46982
9      37606
10     35335
13     25207
12     21662
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
15    134044
12    133389
14    107945
18     69891
13     66739
16     61944
19     60843
10     59083
11     39106
8      34697
17     29676
4      27743
21     27116
5      25945
6      25734
9      21848
20      7904
3        338
22        14
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
0    372548
4    156453
3    149852
2    146390
1    108756
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
0    181030
4    164180
3    162529
2    161688
1    128267
6     79760
5     56545
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
4    382986
5    204682
0    190133
7     91830
9     51014
6      7202
8      6152
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
VISITS
1      285067
2      129412
3       78671
4       54836
5       40780
        ...
113       285
116       280
117       264
119       264
118       262
Name: count, Length: 120, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.000000    376245
0.333333    320190
0.501961    101929
0.341176     10989
0.337255     10461
             ...
0.933333       130
0.949020       126
0.941176       126
0.925490       116
0.964706       105
Name: count, Length: 172, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.000000    562845
0.333333    251270
0.341176      9671
0.337255      7953
0.349020      6014
             ...
0.964706        10
0.956863        10
0.949020         8
0.988235         5
0.996078         1
Name: count, Length: 172, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    523352
0.333333    336149
0.329412     11365
0.337255      7498
0.325490      5470
             ...
0.929412         1
0.815686         1
0.870588         1
0.839216         1
0.905882         1
Name: count, Length: 239, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.333333    567744
0.000000    179398
0.329412     26067
0.325490     15839
0.321569     11661
             ...
0.478431       141
0.470588       136
0.482353       129
0.494118       109
0.498039        61
Name: count, Length: 128, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    371750
0.333333    269815
0.498039    101593
0.329412     13232
0.325490      8187
             ...
0.356863       212
0.349020       209
0.352941       196
0.341176       190
0.337255       177
Name: count, Length: 129, dtype: int64
----------------------------------------------------------------------------------------------------

In [11]:
df_preflop = df[df['PHASE'] == 'PREFLOP']
df_preflop_btn = df_preflop[df_preflop['ROLE'] == 'BTN']
df_preflop_btn.describe()

,KEY,BOARD,POT,RATIO,SPR,HEROBOARD,VISITS,PROB_FOLD,PROB_CHECK,PROB_CALL,PROB_RAISE,PROB_ALL-IN
count,3.376000e+03,3376.0,3376.000000,3376.000000,3376.000000,3376.0,3376.000000,3376.000000,3376.0,3376.000000,3376.000000,3376.000000
mean,5.119847e+12,0.0,13.543543,2.749704,2.452903,0.0,85.189870,0.424086,0.0,0.236129,0.131578,0.208207
std,4.192665e+11,0.0,4.115503,1.043569,1.829026,0.0,46.118525,0.189427,0.0,0.162467,0.147713,0.166244
min,4.398050e+12,0.0,3.000000,1.000000,0.000000,0.0,1.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,4.758836e+12,0.0,11.000000,2.000000,1.000000,0.0,33.000000,0.345098,0.0,0.000000,0.000000,0.000000
50%,5.119616e+12,0.0,14.000000,3.000000,2.000000,0.0,120.000000,0.384314,0.0,0.321569,0.000000,0.262745
75%,5.480396e+12,0.0,15.000000,4.000000,4.000000,0.0,120.000000,0.509804,0.0,0.337255,0.298039,0.329412
max,5.841178e+12,0.0,21.000000,4.000000,6.000000,0.0,120.000000,0.960784,0.0,0.854902,0.447059,0.498039

In [12]:
for column in columns:
    if column == "KEY":
        continue
    print(df_preflop_btn[column].value_counts())
    print("-" * 100)

PHASE
PREFLOP    3376
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
ROLE
BTN    3376
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HAND
T8o    20
A3o    20
55     20
95o    20
65o    20
       ..
QTs    20
Q7s    19
J6s    19
93s    19
83s    19
Name: count, Length: 169, dtype: int64
----------------------------------------------------------------------------------------------------
BOARD
0    3376
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
POT
15    676
12    507
14    338
19    334
3     169
18    169
8     169
16    169
9     169
13    169
11    169
21    169
10    169
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
RATIO
4    1014
3    1010
2     845
1     507
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
SPR
4    676
2    676
0    672
1    507
5    338
3    338
6    169
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
HEROBOARD
0    3376
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
VISITS
120    1914
7        52
6        49
5        48
8        44
       ...
67        3
56        3
101       2
41        2
53        2
Name: count, Length: 120, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_FOLD
0.000000    281
0.333333    196
0.341176    181
0.337255    166
0.345098    128
           ...
0.921569      1
0.819608      1
0.831373      1
0.862745      1
0.807843      1
Name: count, Length: 161, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CHECK
0.0    3376
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_CALL
0.000000    908
0.333333    490
0.329412    201
0.337255    143
0.325490    125
           ...
0.658824      1
0.690196      1
0.705882      1
0.662745      1
0.709804      1
Name: count, Length: 164, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_RAISE
0.000000    1807
0.321569      89
0.313725      87
0.329412      82
0.309804      75
            ...
0.423529       1
0.447059       1
0.062745       1
0.415686       1
0.431373       1
Name: count, Length: 102, dtype: int64
----------------------------------------------------------------------------------------------------
PROB_ALL-IN
0.000000    1052
0.333333     176
0.329412     165
0.325490     143
0.498039     109
            ...
0.141176       3
0.345098       3
0.145098       2
0.078431       1
0.007843       1
Name: count, Length: 125, dtype: int64
----------------------------------------------------------------------------------------------------

In [13]:
visits_counts = df['VISITS'].value_counts()
visits_counts.loc[[120, 1]]

VISITS
120     29668
1      285067
Name: count, dtype: int64